<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./resources/templates/EVIV-template.xhtml">

       

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="content">
                content
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="ID" />
                        <h:inputText value="#{welcome.name}" title="name" 
                                     id="name" required="true" />
                        <h:message for="name" style="color: red" />
                    </h:panelGrid>
                    <h:commandButton action="showVoters" value="submit" />
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
