<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>EVIV's BulletinBoard Index</title>
    </h:head>
    <h:body>
        <h1>EVIV's BulletinBoard Index</h1>
        <h:form>
            <h:commandLink action="/showElections" value="Show Elections"/>
            <br/>
            <h:commandLink action="/showVoters" value="Show Voters"/>
        </h:form>
    </h:body>
</html>

