<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>Election Info</title>
    </h:head>
    <h:body>
        
        <h1>Elections  Info</h1>
        <hr/>
        

        <b><h:outputLabel value=" ElectionID = " /></b>
        <h:outputText value="#{electionJSFManagedBean.selectedElection.electionId}" />
        <p/>
        <b><h:outputLabel value="Description = "/></b>
        <h:outputText value="#{electionJSFManagedBean.selectedElection.electionDesc}" />
        <p/>
        <b><h:outputLabel value="Voter Enroll Init Date = "/></b>
        <h:outputText value="#{electionJSFManagedBean.selectedElection.voterEnrollInitDate}" />
        <p/>
        <b><h:outputLabel value="Voter Register Init Date = "/></b>
        <h:outputText value="#{electionJSFManagedBean.selectedElection.voterRegisterInitDate}" />
        <p/>
        <b><h:outputLabel value="Voter Cast Init Date = "/></b>
        <h:outputText value="#{electionJSFManagedBean.selectedElection.voteCastInitDate}" />
        <p/>
        <b><h:outputLabel value="Voter Count Init Date = "/></b>
        <h:outputText value="#{electionJSFManagedBean.selectedElection.voteCountInitDate}" />
        <p/>




        
        <h:dataTable
            value="#{electionJSFManagedBean.selectedElection.votesList}"
            var="vote">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="VoterID"/>
                </f:facet>
                <h:outputText value="#{vote.voters.voterId}"/>
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="voteToken"/>
                </f:facet>
                <h:outputText value="#{vote.voteReceiptToken}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Date"/>
                </f:facet>
                <h:outputText value="#{vote.voteTime}"/>
            </h:column>
           
        </h:dataTable>
        
        <h:form>
            <h:link outcome="showElections.xhtml" value="Return to election Selection"/>
        </h:form>
        
        
    </h:body>
</html>

