<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>Current &amp; Past Elections</title>
    </h:head>
    <h:body>
        
        <h1>Current &amp; Past Elections</h1>
        <hr/>
        <h:dataTable
            value="#{electionJSFManagedBean.electionList}"
            var="el">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Election"/>
                </f:facet>
                <h:outputText value="#{el.electionId}"/>
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="Description"/>
                </f:facet>
                <h:outputText value="#{el.electionDesc}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Phase"/>
                </f:facet>
                <h:outputText value="#{el.electionPhase}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Voter Enrollment Date"/>
                </f:facet>
                <h:outputText value="#{el.voterEnrollInitDate}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Vote Cast Date"/>
                </f:facet>
                <h:outputText value="#{el.voteCastInitDate}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Vote Count Date"/>
                </f:facet>
                 <h:outputText value="#{el.voteCountInitDate}"/>
            </h:column>
            
             <h:column>
                <f:facet name="header">
                    <h:outputText value="Count Date"/>
                </f:facet>
                 <h:outputText value="#{el.voteCountInitDate}"/>
            </h:column>

            <h:column>

                <h:form>  
                    <h:commandButton value="Show More info" action="#{electionJSFManagedBean.setSelectElection(el.electionId)}" >  
                        
                    </h:commandButton>  
                </h:form>  
                
            </h:column>
           
        </h:dataTable>
        
        <h:form>
            <h:link outcome="index.xhtml" value="Return to home"/>
        </h:form>
        
    </h:body>
</html>

