<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

     <h:head>
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>Registered Voters</title>
    </h:head>
    <h:body>
        
        <h1>Registered Voters:</h1>
        <hr/>
        <h:dataTable
            value="#{voterJSFManagedBean.voterList}"
            var="vst">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="VoterID"/>
                </f:facet>
                <h:outputText value="#{vst.voterId}"/>
            </h:column>

             <h:column>
                <f:facet name="header">
                    <h:outputText value="Voter Certificate"/>
                </f:facet>
                 <h:outputText value="#{vst.voterCertificate}"/>
            </h:column>
            
<!--            <h:column>
                <f:facet name="header">
                    <h:outputText value="Elections Registered"/>
                </f:facet>
                
                <h:outputText value="#{vst.electionsList}"/>
            </h:column>
  -->         
        </h:dataTable>
        
        <h:form>
            <h:link outcome="index.xhtml" value="Return to home"/>
        </h:form>
        
    </h:body>
</html>
